body {
  min-height: 100vh;
}
.body {
  display: flex;

  height: 100vh;
}
.sidebar-section {
  display: flex;
  align-items: center;
  flex: 2;
  flex-direction: column;
  border-right: 2px solid black;
  padding: 20px 0;
}
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 3;
}
.project-wrapper.sidebar,
.add-project {
  width: 80%;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.project-header.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  padding: 0 20px;
  list-style: none;
}
.task-header.sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.task-wrapper:has(> .hidden):not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.task-body {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.step-wrapper {
  margin: 2px 0;
  display: flex;
}
.step-title {
  margin-left: 8px;
}
.hidden {
  display: none;
}

.project-wrapper.main {
  border: 2px solid black;
  width: 600px;
  padding: 12px 6px;
}
.project-header.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.task-header.main {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;
}
.add-project,
.add-task,
.add-step {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.add-task,
.add-step {
  border: 1px dashed black;
}
