:root {
  --main-color: #ffffff;
  --secondary-color: #000000;
  --accent-color: #55666622;
  --error-color: #dd445555;
  --success-color: #33998855;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  min-height: 100vh;
  background-color: var(--main-color);
}
.body {
  display: flex;

  height: 100vh;
}
.sidebar-section {
  display: flex;
  align-items: center;
  flex: 2;
  flex-direction: column;
  border-right: 2px solid var(--secondary-color);
  padding: 20px 0;
}
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 3;
}
.project-wrapper.sidebar,
.add-project {
  width: 80%;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}

.project-header.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.task-header.sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  padding: 0 15px;
}
.task-wrapper:has(> .hidden):not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.task-body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.step-wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.step-wrapper,
.task-wrapper,
.project-wrapper {
  transition: all 0.3s ease-in;
}
.step-title {
  margin-left: 8px;
}
.project-wrapper.main {
  border: 2px solid var(--secondary-color);
  width: 600px;
  /* padding: 12px 6px; */
}
.project-header.main {
  display: grid;
  grid-template-columns: 3fr 1fr auto;
  padding: 0 10px;
}
.project-description {
  margin-bottom: 16px;
}
.task-header.main {
  display: flex;
  border-bottom: 1px dotted var(--secondary-color);
}
.add-project,
.add-task,
.add-step {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}
.add-task {
  border: 0;
  border-top: 1px dashed var(--secondary-color);
}
.add-task:hover,
.add-step:hover {
  background-color: var(--success-color);
}
.add-task {
  margin-top: 12px;
}
.add-step {
  order: 1;
  width: 100%;
  align-self: flex-start;
  padding-left: 20px;
  justify-content: left;
}
.add-step:hover:after {
  content: "Add STEP";
}
.add-task:hover:after {
  content: "  Add TASK";
}
.project-dueDate {
  width: max-content;
}
.inDay,
.inMonth {
  width: 4ch;
}
.inYear {
  width: 6ch;
}
.inDay,
.inMonth,
.inYear {
  border: 0px;
  background-color: #0000;
}
.btn-step.delete {
  cursor: pointer;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding-right: 0;
}
.btn-step.delete:hover {
  /* background-color: black; */
  /* color: rgba(240, 240, 240); */
  font-weight: bold;
}
.task-dueDate.main {
  align-content: center;
  margin-left: auto;
}
h4 {
  align-content: center;
}
.btn-task.delete {
  margin: 0 12px;
}
.step-wrapper:hover {
  background-color: var(--accent-color);
}
.step-wrapper:has(.step-status:hover) {
  background-color: var(--success-color);
}
.step-status {
  margin-left: 4px;
}
.step-wrapper:has(input:checked) > h5 {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-task.delete {
  background-color: transparent;
  border: none;
  border-right: 1px solid var(--secondary-color);
}
.task-wrapper:has(.btn-task.delete:hover) {
  background-color: var(--error-color);
}
.step-wrapper:has(.delete:hover) {
  background-color: var(--error-color);
}
.project-wrapper:has(.btn-project.delete:hover) {
  background-color: var(--error-color);
}
button {
  cursor: pointer;
}
.delete {
  background-color: transparent;
  border: none;
}
.delete-img,
.add-img {
  justify-self: center;
  filter: brightness(85%);
}
.delete-img:hover {
  filter: brightness(0);
}
.btn-project {
  display: flex;
  justify-content: center;
}
.btn-step.add {
  width: 20px;
  height: 20px;
}
.hidden {
  display: none;
}
.task-steps:hover > .add-step {
  display: flex;
}
